body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background-color: #e6f7ff;
  font-size: 20px;
}

.white {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
  margin-bottom: 20px;
}

h1#site-title {
  color: #0040ff;
  font-size: 8vw;
  text-align: center;
  margin-top: 30px;
}

article {
  max-width: 800px;
  margin: 0 auto;
}


h2 {
  font-size: 22pt;
  text-align: center;
  color: #000066;
  margin-left: 40px;
  margin-right: 40px;
}

h3 {
  margin-left: 10px;
  font-size: 24pt;
  color: #0040ff;
  text-align: center;
}

h4 {
  margin-left: 25px;
  color: #990000;
}

figure.main-image {
  display: block;
  margin: 0;
  padding: 5px;
  max-width: 800px;
  margin-left: 40px;
  margin-right: 40px;
}
figure.section-image{
  width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.last-image {
  display: block;
  margin: 0;
  padding: 5px;
  padding-bottom: 30px;
  max-width: 800px;
  margin-left: 40px;
  margin-right: 40px;
}
figure img {
  max-width: 100%;
  height: auto;
}
figcaption {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 10px;
  text-align: right;
}

p {
 color: #000066;
 font-family: Georgia, serif;
 margin-left: 40px;
 margin-right: 40px;
 padding-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0px;
}
nav ul li a {
  color: #000066;
  text-decoration: none;
  display: block;
  padding: 4px;
}
header nav ul li a:hover {
  background-color: #002db3;
  color: #ffffff;
  padding: 4px;
}
header nav ul{
  border-top: 8px double;
  border-bottom: 8px double;
  border-color: #0040ff;
  font-size: 20px;
  font-family: Georgia, serif;
}

table {
   font-size: 18px;
   color: #000066;
   width: 725px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 10px;
}
tr th{
  text-align: center;
  padding-bottom: 5px;
  font-size: 23px;
}
td.room {
  padding-right: 20px;
  padding-bottom: 15px;
}
td.hours {
  text-align: center;
}
.column-header {
  color: #990000;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 5px;
}

ul li {
  color: #000066;
}

.section-list {
  padding-bottom: 10px;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  border-top: 8px double;
  border-color: #0040ff;
  text-align: center;
  color: #000066;
  font-size: 18px;
  font-family: Georgia, serif;
}
