h1{
  color: #6495ED;
  font-size: 60px;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}
img{
  border: 2px solid black;
}

figure img{
  max-width: 100%;
  border: 5px solid black;
}
figcaption{
  font-family: Trebuchet MS, sans-serif;
}

p{
  color: #73264d;
  font-size: 30px;
  font-family: Brush Script MT, cursive;
}
p img{
  width: 300px;
  height: auto;
}
