body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background-color: #c6ecc6;
}

.container {
  width: 98%;
  margin: 0 auto;
}
.small-container {
  width: 98%;
  margin: 0 auto;
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: left;
}

.mode {
  float: right;
  font-size: 22px;
}

button {
  background-color: #fff;
  color: #0d0d0d;
  font-size: 25px;
  border-color: #fff;
  border-radius: 99%;
  padding: 10px;
  margin-left: 5px;
}

body.darkMode {
  background-color: #0d0d0d;
  color: #fff;
}
body.darkMode button {
  background-color: #0d0d0d;
  color: #fff;
  border-radius: 99%;
}
body.darkMode nav ul li a {
  color: #fff;
}
body.darkMode a:visited {
  color: #73264d;
}
body.darkMode footer p{
  color: #fff;
}

h1#site-title {
  color: #2d4386;
  font-size: 50px;
  font-family: "Brush Script MT", cursive;
  text-align: center;
  margin: 60px 0px 0px 0px;
}
@media all and (min-width: 320px) {
  h1#site-title {
    font-size: 10vw;
  }
}
@media all and (max-width: 320px) {
  h1#site-title {
    font-size: 40px;
  }
}

h2#article-title {
  color: #2d4386;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 30px;
  font-weight: 600;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  margin: 60px 0px 0px 0px;
}
@media all and (min-width: 320px) {
  h2#article-title {
    font-size: 6vw;
  }
}
@media all and (max-width: 320px) {
  h2#article-title {
    font-size: 27px;
  }
}

h2 {
  margin-left: 10px;
  margin-top: 30px;
  font-weight: 600;
}

figure {
  margin: 0;
  border: 5px solid black;
  padding: 5px;
}
img {
  max-width: 100%;
  height: auto;
}
figcaption {
  font-family: "Trebuchet MS", sans-serif;
}
figure.main-image {
  border-color: #73264d;
  padding: 6px;
  border-width: 6px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
figure.section-image {
  border-color: #2d4386;
  padding: 4px;
  max-width: 320px;
  float: left;
  margin: 0px 20px 20px 20px;
}
figure.section-image.odd {
    float: left;
}

p {
  color: #004d00;
  font-size: 24px;
  font-family: Georgia, serif;
  margin-left: 10px;
  margin-right: 10px;
}
p img {
  width: 300px;
  height: auto;
  padding: 4px;
}


.skip-link {
  background: #4d1933;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  margin: 0px auto;
  padding: 8px;
  display: block;
  max-width: 200px;
  text-align: center;
}

nav ul {
  border-top: 8px double;
  border-color: #2d4386;
  list-style: none;
  padding: 0px;
}

@media all and (min-width: 415px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

nav ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 4px;
}
nav ul li a:visited {
  color: #73264d;
}

header nav ul li a:hover {
  background-color: #3973ac;
  color: #ffffff;
  padding: 4px;
}

header nav ul {
  border-bottom: 8px double;
  border-color: #2d4386;
  font-size: 20px;
  font-family: Georgia, serif;
}

footer nav ul li a:hover {
  text-decoration: underline;
  color: #2d4386;
}

footer#page-footer {
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: Georgia, serif;
}
footer p{
  font-size: 14px;
  color: black;
}
